@import "~bootstrap/dist/css/bootstrap.min.css";

.card-container {
  height: 428px;
  width: 300px;
  max-width: 95vw;
  max-height: 200vh;
  container: cardcont / size;
}

.main {
  height: 95vh;
}

.rotated {
  transform: rotate(-180deg);
}

.counter {
  width: 50px;
}

/* ////////////////// */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ////////////////////// */

@container cardcont ((width > 153px)) {
  .card-font {
    font-size: 20cqh;
  }
}
@container cardcont ((height > 214px)) {
  .card-font {
    font-size: 20cqh;
  }
}
/* container issue fixes */
@container cardcont ((height > 1500px)) {
  .card-font {
    font-size: 20cqw;
  }
}
@container cardcont ((width < 200px)) {
  .card-font {
    font-size: 25cqi;
  }
}
